---
import Container from "../components/container.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="PROYECTO DE APARTAMENTOS CON BALCÓN EN CALASANZ - MEDELLIN">
	<Container>
		<section class="">
			<div class="container flex flex-wrap px-5 py-12 mx-auto">
				<div
					class="flex flex-wrap content-start mt-auto mb-auto -mx-4 lg:w-1/2 sm:w-2/3 sm:pr-10">
					<div class="w-full px-4 mb-6 sm:p-4">
						<h1 class="mb-2 text-xl font-medium title-font text-fiorenza-500">
							Fiorenza Apartamentos | Calasanz Sector Primavera "Medellín"
						</h1>
						<div class="leading-relaxed">
							Fiorenza Apartamentos es un proyecto ubicado en el barrio Calasanz
							de la ciudad de Medellín. Está compuesto por 430 unidades (de 40 y
							58 metros cuadrados), distribuidas en 3 torres de aproximadamente
							25 pisos. Se caracteriza por ser un moderno conjunto residencial
							que mezcla lo industrial con el arte, lo que se refleja en sus
							zonas comunes.
						</div>
					</div>
					<div class="w-1/2 p-4 sm:w-1/2 lg:w-1/4">
						<h2 class="text-3xl font-medium title-font text-fiorenza-500">
							430
						</h2>
						<p class="leading-relaxed">Apartamentos</p>
					</div>
					<div class="w-1/2 p-4 sm:w-1/2 lg:w-1/4">
						<h2 class="text-3xl font-medium title-font text-fiorenza-500">
							24
						</h2>
						<p class="leading-relaxed">Pisos</p>
					</div>
					<div class="w-1/2 p-4 sm:w-1/2 lg:w-1/4">
						<h2 class="text-3xl font-medium title-font text-fiorenza-500">
							40
						</h2>
						<p class="leading-relaxed">m² Área construida</p>
					</div>
					<div class="w-1/2 p-4 sm:w-1/2 lg:w-1/4">
						<h2 class="text-3xl font-medium title-font text-fiorenza-500">
							58
						</h2>
						<p class="leading-relaxed">m² Área construida</p>
					</div>
				</div>
				<div
					class="w-full mt-6 overflow-hidden rounded-lg lg:w-1/2 sm:w-1/3 sm:mt-0">
					<div
						class="relative w-full overflow-hidden embed-responsive embed-responsive-16by9"
						style="padding-top: 75%">
						<iframe
							class="absolute top-0 bottom-0 left-0 right-0 w-full h-full embed-responsive-item"
							src="https://www.youtube.com/embed/8ndwWoDz8JI"
							allowfullscreen=""
							data-gtm-yt-inspected-2340190_699="true"
							id="240632615"></iframe>
					</div>
				</div>
			</div>
		</section>

		<section class="mb-6" id="espaciosFiorenza">
			<div
				class="relative overflow-hidden bg-no-repeat bg-contain"
				style="
        background-position: 50%;
        background-image: url('/assets/img/plantageneral-pisotipo.webp');
        height: 450px;
      ">
			</div>
			<div class="container px-4 text-gray-800 md:px-12">
				<div
					class="block px-4 py-3 rounded-lg shadow-lg md:py-4 md:px-6"
					style="
          margin-top: -5px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
        ">
					<div class="flex flex-wrap justify-center text-center lg:text-left">
						<div class="w-full px-6 grow-0 shrink-0 basis-auto xl:w-10/12">
							<div class="grid items-center lg:grid-cols-2 gap-x-6">
								<div class="mb-10 lg:mb-0">
									<h2 class="text-4xl font-bold">
										Planta General de la
										<br />
										<span class="font-bold text-fiorenza-500">Última Etapa</span
										>
									</h2>
								</div>

								<div class="mb-6 md:mb-0">
									<div class="flex-row md:flex">
										<a
											href="#BonoDescuento"
											class="flex-shrink-0 inline-block py-3 font-extrabold leading-snug uppercase transition duration-150 ease-in-out border-0 rounded shadow-md px-7 text-fiorenza-50 bg-foreground hover:bg-fiorenza-800 hover:shadow-lg focus:bg-fiorenza-800 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-fiorenza-800 active:shadow-lg"
											data-mdb-ripple="true"
											data-mdb-ripple-color="light">
											QUIERO MI BONO DE DESCUENTO
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="">
			<div class="container flex flex-wrap px-5 pt-12 pb-1 mx-auto md:pb-2">
				<div class="flex flex-wrap w-full">
					<h1
						class="mb-4 text-4xl font-bold sm:text-3xl title-font text-fiorenza-800 lg:w-1/3 lg:mb-0">
						Conoce nuestros Espacios
					</h1>
					<p class="mx-auto text-xl leading-relaxed lg:pl-6 lg:w-2/3">
						Disfrute zonas de Piscina para Adultos y Niños, 2 Canchas múltiples,
						Gimnasio al aire libre, Golfito, Huerta, Family SportBar, Zona para
						mascotas, Coworking.
					</p>
				</div>
				<div class="flex flex-wrap -m-1 md:-m-2">
					<div class="flex flex-wrap w-1/2">
						<div class="w-1/2 p-1 md:p-2">
							<img
								alt="gallery"
								class="block object-cover object-center w-full h-full hover:shadow-2xl"
								src="/assets/img/02-porteria.webp"
							/>
						</div>
						<div class="w-1/2 p-1 md:p-2">
							<img
								alt="gallery"
								class="block object-cover object-center w-full h-full hover:shadow-2xl"
								src="/assets/img/18-family-sport-bar.webp"
							/>
						</div>
						<div class="w-full p-1 md:p-2">
							<img
								alt="gallery"
								class="block object-cover object-center w-full h-full hover:shadow-2xl"
								src="/assets/img/02-piscina.webp"
							/>
						</div>
					</div>
					<div class="flex flex-wrap w-1/2">
						<div class="w-full p-1 md:p-2">
							<img
								alt="gallery"
								class="block object-cover object-center w-full h-full hover:shadow-2xl"
								src="/assets/img/03-piscina.webp"
							/>
						</div>
						<div class="w-1/2 p-1 md:p-2">
							<img
								alt="gallery"
								class="block object-cover object-center w-full h-full hover:shadow-2xl"
								src="/assets/img/08-sala-de-juegos.webp"
							/>
						</div>
						<div class="w-1/2 p-1 md:p-2">
							<img
								alt="gallery"
								class="block object-cover object-center w-full h-full hover:shadow-2xl"
								src="/assets/img/20-huerta.webp"
							/>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="">
			<div class="container flex flex-col px-5 mx-auto">
				<div class="w-full">
					<div
						class="rounded-lg py-40 overflow-hidden bg-[url('/assets/img/12-aptto-modelo-tipob.webp')] bg-no-repeat bg-cover bg-center bg-fixed my-0">
					</div>

					<div class="">
						<div
							class="container flex flex-col items-center py-2 pt-10 mx-auto md:flex-row">
							<div class="w-5/6 mb-10 lg:max-w-lg lg:w-full md:w-1/2 md:mb-0">
								<div class="relative p-3 bg-gray-100">
									<div
										class="w-4/5 mx-auto my-80 md:my-0"
										style="scroll-snap-type: x mandatory;">
										<!-- first -->
										<div class="">
											<input
												class="sr-only peer"
												type="radio"
												name="carousel-a"
												id="carousel-a1"
												checked
											/>
											<!-- content #1 -->
											<div
												class="absolute z-0 transition-all duration-300 transform -translate-x-1/2 -translate-y-1/2 bg-white rounded-lg shadow-lg opacity-0 w-96 top-1/2 left-1/2 peer-checked:opacity-100 peer-checked:z-10">
												<img
													class="w-full h-full rounded-t-lg"
													src="/assets/img/planta-aptotipo-a_obragris.webp"
													alt=""
												/>

												<!-- controls -->
												<div
													class="absolute z-20 flex justify-between w-full top-1/2">
													<label
														for="carousel-a2"
														class="inline-block text-fiorenza-500 cursor-pointer -translate-x-5 bg-white rounded-full shadow-md active:translate-y-0.5">
														<svg
															xmlns="http://www.w3.org/2000/svg"
															class="w-10 h-10"
															viewBox="0 0 20 20"
															fill="currentColor">
															<path
																fill-rule="evenodd"
																d="M10 18a8 8 0 100-16 8 8 0 000 16zm.707-10.293a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L9.414 11H13a1 1 0 100-2H9.414l1.293-1.293z"
																clip-rule="evenodd"></path>
														</svg>
													</label>
													<label
														for="carousel-a2"
														class="inline-block text-fiorenza-500 cursor-pointer translate-x-5 bg-white rounded-full shadow-md active:translate-y-0.5">
														<svg
															xmlns="http://www.w3.org/2000/svg"
															class="w-10 h-10"
															viewBox="0 0 20 20"
															fill="currentColor">
															<path
																fill-rule="evenodd"
																d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z"
																clip-rule="evenodd"></path>
														</svg>
													</label>
												</div>
											</div>
										</div>
										<!-- second -->
										<div class="">
											<input
												class="sr-only peer"
												type="radio"
												name="carousel-a"
												id="carousel-a2"
											/>
											<!-- content #2 -->
											<div
												class="absolute z-0 transition-all duration-300 transform -translate-x-1/2 -translate-y-1/2 bg-white rounded-lg shadow-lg opacity-0 w-96 top-1/2 left-1/2 peer-checked:opacity-100 peer-checked:z-10">
												<img
													class="w-full h-full rounded-t-lg"
													src="/assets/img/planta-aptotipo-a_acabados.webp"
													alt=""
												/>
												<!-- controls -->
												<div
													class="absolute z-20 flex justify-between w-full top-1/2">
													<label
														for="carousel-a1"
														class="inline-block text-foreground cursor-pointer -translate-x-5 bg-white rounded-full shadow-md active:translate-y-0.5">
														<svg
															xmlns="http://www.w3.org/2000/svg"
															class="w-10 h-10"
															viewBox="0 0 20 20"
															fill="currentColor">
															<path
																fill-rule="evenodd"
																d="M10 18a8 8 0 100-16 8 8 0 000 16zm.707-10.293a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L9.414 11H13a1 1 0 100-2H9.414l1.293-1.293z"
																clip-rule="evenodd"></path>
														</svg>
													</label>
													<label
														for="carousel-a1"
														class="inline-block text-foreground cursor-pointer translate-x-5 bg-white rounded-full shadow-md active:translate-y-0.5">
														<svg
															xmlns="http://www.w3.org/2000/svg"
															class="w-10 h-10"
															viewBox="0 0 20 20"
															fill="currentColor">
															<path
																fill-rule="evenodd"
																d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z"
																clip-rule="evenodd"></path>
														</svg>
													</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div
								class="flex flex-col items-center text-center lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 md:items-start md:text-left">
								<h2
									class="text-3xl font-bold tracking-tight text-center sm:text-4xl md:text-4xl xl:text-5xl">
									Apartamento <span class="text-fiorenza-500">Tipo A</span>
								</h2>

								<div class="mb-6 lg:mb-0">
									<p class="my-2 text-xl font-bold uppercase text-fiorenza-500">
										40m² (ÁREA CONSTRUIDA)
									</p>
									<p class="text-lg">
										El apartamento cuenta con 2 alcobas:<br />
										<ul class="flex flex-wrap text-left list-disc list-inside">
											<li class="ml-1">
												<a href="#" class="mr-4 hover:underline md:mr-6"
													>Habitación principal</a
												>
											</li>
											<li class="ml-1">
												<a href="#" class="mr-4 hover:underline md:mr-6"
													>Baño social</a
												>
											</li>
											<li class="ml-1">
												<a href="#" class="mr-4 hover:underline md:mr-6"
													>Habitación 2 o Estudio</a
												>
											</li>
											<li class="ml-1">
												<a href="#" class="mr-4 hover:underline md:mr-6"
													>Sala- Comedor</a
												>
											</li>
											<li class="ml-1">
												<a href="#" class="mr-4 hover:underline md:mr-6"
													>Cocina</a
												>
											</li>
											<li class="ml-1">
												<a href="#" class="mr-4 hover:underline md:mr-6"
													>Balcón</a
												>
											</li>
										</ul>
									</p>
									<p class="my-2 text-xl font-bold uppercase text-fiorenza-500">
										PERSONALÍZALO A TU GUSTO - se entrega en obra gris
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="">
			<div class="container flex flex-col p-0 px-5 pt-10 mx-auto">
				<div class="w-full">
					<div
						class="rounded-lg py-40 overflow-hidden bg-[url('/assets/img/14-cocina-aptto-tipob.webp')] bg-no-repeat bg-cover bg-center bg-fixed my-0">
					</div>
					<div class="">
						<div
							class="container flex flex-col items-center py-2 mx-auto md:flex-row">
							<div class="w-5/6 mb-10 lg:max-w-lg lg:w-full md:w-1/2 md:mb-0">
								<div class="relative p-3 bg-gray-100">
									<div
										class="w-4/5 mx-auto my-80 md:my-0"
										style="scroll-snap-type: x mandatory;">
										<!-- first -->
										<div class="">
											<input
												class="sr-only peer"
												type="radio"
												name="carousel-b"
												id="carousel-b1"
												checked
											/>
											<!-- content #1 -->
											<div
												class="absolute z-0 transition-all duration-300 transform -translate-x-1/2 -translate-y-1/2 bg-white rounded-lg shadow-lg opacity-0 w-96 top-1/2 left-1/2 peer-checked:opacity-100 peer-checked:z-10">
												<img
													class="w-full h-full rounded-t-lg"
													src="/assets/img/planta-aptotipo-b_obragris.webp"
													alt=""
												/>

												<!-- controls -->
												<div
													class="absolute z-20 flex justify-between w-full top-1/2">
													<label
														for="carousel-b2"
														class="inline-block text-fiorenza-500 cursor-pointer -translate-x-5 bg-white rounded-full shadow-md active:translate-y-0.5">
														<svg
															xmlns="http://www.w3.org/2000/svg"
															class="w-10 h-10"
															viewBox="0 0 20 20"
															fill="currentColor">
															<path
																fill-rule="evenodd"
																d="M10 18a8 8 0 100-16 8 8 0 000 16zm.707-10.293a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L9.414 11H13a1 1 0 100-2H9.414l1.293-1.293z"
																clip-rule="evenodd"></path>
														</svg>
													</label>
													<label
														for="carousel-b2"
														class="inline-block text-fiorenza-500 cursor-pointer translate-x-5 bg-white rounded-full shadow-md active:translate-y-0.5">
														<svg
															xmlns="http://www.w3.org/2000/svg"
															class="w-10 h-10"
															viewBox="0 0 20 20"
															fill="currentColor">
															<path
																fill-rule="evenodd"
																d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z"
																clip-rule="evenodd"></path>
														</svg>
													</label>
												</div>
											</div>
										</div>
										<!-- second -->
										<div class="">
											<input
												class="sr-only peer"
												type="radio"
												name="carousel-b"
												id="carousel-b2"
											/>
											<!-- content #2 -->
											<div
												class="absolute z-0 transition-all duration-300 transform -translate-x-1/2 -translate-y-1/2 bg-white rounded-lg shadow-lg opacity-0 w-96 top-1/2 left-1/2 peer-checked:opacity-100 peer-checked:z-10">
												<img
													class="w-full h-full rounded-t-lg"
													src="/assets/img/planta-aptotipo-b_acabados.webp"
													alt=""
												/>
												<!-- controls -->
												<div
													class="absolute z-20 flex justify-between w-full top-1/2">
													<label
														for="carousel-b1"
														class="inline-block text-foreground cursor-pointer -translate-x-5 bg-white rounded-full shadow-md active:translate-y-0.5">
														<svg
															xmlns="http://www.w3.org/2000/svg"
															class="w-10 h-10"
															viewBox="0 0 20 20"
															fill="currentColor">
															<path
																fill-rule="evenodd"
																d="M10 18a8 8 0 100-16 8 8 0 000 16zm.707-10.293a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L9.414 11H13a1 1 0 100-2H9.414l1.293-1.293z"
																clip-rule="evenodd"></path>
														</svg>
													</label>
													<label
														for="carousel-b1"
														class="inline-block text-foreground cursor-pointer translate-x-5 bg-white rounded-full shadow-md active:translate-y-0.5">
														<svg
															xmlns="http://www.w3.org/2000/svg"
															class="w-10 h-10"
															viewBox="0 0 20 20"
															fill="currentColor">
															<path
																fill-rule="evenodd"
																d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z"
																clip-rule="evenodd"></path>
														</svg>
													</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div
								class="flex flex-col items-center text-center lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 md:items-start md:text-left">
								<h2
									class="text-3xl font-bold tracking-tight text-center sm:text-4xl md:text-4xl xl:text-5xl">
									Apartamento <span class="text-fiorenza-500">Tipo B</span>
								</h2>

								<div class="mb-6 lg:mb-0">
									<p class="my-2 text-xl font-bold uppercase text-fiorenza-500">
										58m² (ÁREA CONSTRUIDA)
									</p>
									<p class="text-lg">
										El apartamento cuenta con 3 alcobas:<br />
										<ul class="flex flex-wrap text-left list-disc list-inside">
											<li class="ml-1">
												<a href="#" class="mr-4 hover:underline md:mr-6"
													>Habitación principal</a
												>
											</li>
											<li class="ml-1">
												<a href="#" class="mr-4 hover:underline md:mr-6"
													>Baño principal</a
												>
											</li>
											<li class="ml-1">
												<a href="#" class="mr-4 hover:underline md:mr-6"
													>Baño alcoba</a
												>
											</li>
											<li class="ml-1">
												<a href="#" class="mr-4 hover:underline md:mr-6"
													>Habitación 2</a
												>
											</li>
											<li class="ml-1">
												<a href="#" class="mr-4 hover:underline md:mr-6"
													>Habitación 3 o estudio</a
												>
											</li>
											<li class="ml-1">
												<a href="#" class="mr-4 hover:underline md:mr-6"
													>Sala - Comedor</a
												>
											</li>
											<li class="ml-1">
												<a href="#" class="mr-4 hover:underline md:mr-6"
													>Cocina</a
												>
											</li>
											<li class="ml-1">
												<a href="#" class="mr-4 hover:underline md:mr-6"
													>Zona de ropas independiente</a
												>
											</li>
											<li class="ml-1">
												<a href="#" class="mr-4 hover:underline md:mr-6"
													>Garaje</a
												>
											</li>
											<li class="ml-1">
												<a href="#" class="mr-4 hover:underline md:mr-6"
													>Cuarto útil</a
												>
											</li>
											<li class="ml-1">
												<a href="#" class="mr-4 hover:underline md:mr-6"
													>Balcón</a
												>
											</li>
										</ul>
									</p>
									<p class="my-2 text-xl font-bold uppercase text-fiorenza-500">
										PERSONALÍZALO A TU GUSTO - se entrega en obra gris
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</Container>

	<section
		class="bg-[url('/assets/img/18-family-sport-bar.webp')] bg-no-repeat bg-cover bg-center bg-fixed my-6">
		<div class="container px-5 py-24 mx-auto">
			<div
				class="flex flex-col items-start mx-auto lg:w-2/3 sm:flex-row sm:items-center">
				<h1
					class="flex-grow text-3xl font-bold sm:pr-16 title-font text-neutral-800">
					Proyecto residencial pensado en todos, conoce lo que tenemos
					desarrollado para tu <strong>FAMILIA</strong>.
				</h1>
				<a
					href="#BonoDescuento"
					class="flex-shrink-0 px-8 py-2 mt-10 text-lg font-extrabold transition duration-200 ease-in border-0 rounded text-fiorenza-50 bg-foreground focus:outline-none hover:bg-fiorenza-800 sm:mt-0 focus:ring-2 focus:ring-offset-2"
					>QUIERO MI BONO DE DESCUENTO</a
				>
			</div>
		</div>
	</section>

	<Container>
		<section class="mb-10" id="quienesSomos">
			<div class="container px-5 py-12 mx-auto">
				<div class="flex flex-col w-full text-center">
					<h1
						class="my-6 text-3xl font-medium uppercase title-font lg:text-6xl">
						¿ Quienes Somos ?
					</h1>
				</div>
				<div class="flex flex-wrap -m-4">
					<div class="p-4 lg:w-1/3 md:w-1/3">
						<div class="flex flex-col items-center h-full text-center">
							<img
								alt="mandala-desarrolladores-proyectos"
								class="flex-shrink-0 object-cover object-center w-full mb-4 rounded-lg"
								src="/assets/img/constructores/mandala-desarrolladores-proyectos.webp"
							/>
							<div class="w-full">
								<h2 class="text-lg font-medium title-font">Mandala</h2>
								<h3 class="mb-3 text-gray-500">Gerencia y ventas</h3>
							</div>
						</div>
					</div>
					<div class="p-4 lg:w-1/3 md:w-1/3">
						<div class="flex flex-col items-center h-full text-center">
							<a href="https://www.mensulaingenieros.com/"
								><img
									alt="mensula-ingenieros"
									class="flex-shrink-0 object-cover object-center w-full mb-4 rounded-lg"
									src="/assets/img/constructores/mensula.webp"
								/></a
							>
							<div class="w-full">
								<h2 class="text-lg font-medium title-font">Ménsula</h2>
								<h3 class="mb-3 text-gray-500">Construye</h3>
							</div>
						</div>
					</div>
					<div class="p-4 lg:w-1/3 md:w-1/3">
						<div class="flex flex-col items-center h-full text-center">
							<img
								alt="accion-fiduciaria"
								class="flex-shrink-0 object-cover object-center w-full mb-4 rounded-lg"
								src="/assets/img/constructores/accionfiduciaria.webp"
							/>
							<div class="w-full">
								<h2 class="text-lg font-medium title-font">
									Acción fiduciaria
								</h2>
								<h3 class="mb-3 text-gray-500">Fiduciaria</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="mb-20 text-gray-600">
			<div class="container px-5 py-0 mx-auto my-6">
				<div class="flex flex-col w-full mb-5 text-center">
					<h1
						class="mb-4 text-3xl font-medium title-font lg:text-6xl md:txt-4xl">
						PREGUNTAS FRECUENTES
					</h1>
				</div>
			</div>
			<div class="container flex flex-wrap px-5 py-0 mx-auto">
				<div class="w-full mb-10 overflow-hidden rounded-lg lg:w-1/2 lg:mb-0">
					<img
						alt="feature"
						class="object-cover object-center w-full h-full"
						src="/assets/img/02-porteria.webp"
					/>
				</div>
				<div
					class="flex flex-col flex-wrap w-full -mb-10 text-center lg:py-6 lg:w-1/2 lg:pl-12 lg:text-left">
					<div class="w-full max-w-screen-xl px-5 mx-auto bg-white rounded-md">
						<div class="flex flex-col items-center">
							<h2 class="mt-5 text-5xl font-bold tracking-tight">FAQ</h2>
						</div>
						<div class="grid max-w-xl mx-auto mt-8 divide-y divide-neutral-200">
							<div class="py-5">
								<details class="group">
									<summary
										class="flex items-center justify-between font-medium list-none cursor-pointer">
										<span>¿ Es un proyecto VIS ?</span>
										<span class="transition group-open:rotate-180">
											<svg
												fill="none"
												height="24"
												shape-rendering="geometricPrecision"
												stroke="currentColor"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="1.5"
												viewBox="0 0 24 24"
												width="24"
												><path d="M6 9l6 6 6-6"></path>
											</svg>
										</span>
									</summary>
									<p class="mt-3 text-neutral-600 group-open:animate-fadeIn">
										<strong>NO</strong> es un proyecto VIS.
									</p>
								</details>
							</div>
							<div class="py-5">
								<details class="group">
									<summary
										class="flex items-center justify-between font-medium list-none cursor-pointer">
										<span> ¿ Incluye <strong>acabados</strong> &nbsp;?</span>
										<span class="transition group-open:rotate-180">
											<svg
												fill="none"
												height="24"
												shape-rendering="geometricPrecision"
												stroke="currentColor"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="1.5"
												viewBox="0 0 24 24"
												width="24"
												><path d="M6 9l6 6 6-6"></path>
											</svg>
										</span>
									</summary>
									<p class="mt-3 text-neutral-600 group-open:animate-fadeIn">
										<strong>NO</strong> el apartamento esta listo para que lo personalices
										a tu gusto.
									</p>
								</details>
							</div>
							<div class="py-5">
								<details class="group">
									<summary
										class="flex items-center justify-between font-medium list-none cursor-pointer">
										<span> ¿ Que estrato es ?</span>
										<span class="transition group-open:rotate-180">
											<svg
												fill="none"
												height="24"
												shape-rendering="geometricPrecision"
												stroke="currentColor"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="1.5"
												viewBox="0 0 24 24"
												width="24"
												><path d="M6 9l6 6 6-6"></path>
											</svg>
										</span>
									</summary>
									<p class="mt-3 text-neutral-600 group-open:animate-fadeIn">
										es <strong>Estrato 4</strong>.
									</p>
								</details>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<a
			href="https://accionpse.accion.com.co/Account/LogOn?ReturnUrl=%2f"
			class="float pse-float">
			<img class="pse-ico" src="/assets/img/btnPSE.webp" />
		</a>
		<a
			href="https://wa.me/573046329578?text=Me%20gustar%C3%ADa%20saber%20m%C3%A1s%20informacion%20del%20proyecto"
			><svg viewBox="0 0 32 32" class="whatsapp-ico"
				><path
					d=" M19.11 17.205c-.372 0-1.088 1.39-1.518 1.39a.63.63 0 0 1-.315-.1c-.802-.402-1.504-.817-2.163-1.447-.545-.516-1.146-1.29-1.46-1.963a.426.426 0 0 1-.073-.215c0-.33.99-.945.99-1.49 0-.143-.73-2.09-.832-2.335-.143-.372-.214-.487-.6-.487-.187 0-.36-.043-.53-.043-.302 0-.53.115-.746.315-.688.645-1.032 1.318-1.06 2.264v.114c-.015.99.472 1.977 1.017 2.78 1.23 1.82 2.506 3.41 4.554 4.34.616.287 2.035.888 2.722.888.817 0 2.15-.515 2.478-1.318.13-.33.244-.73.244-1.088 0-.058 0-.144-.03-.215-.1-.172-2.434-1.39-2.678-1.39zm-2.908 7.593c-1.747 0-3.48-.53-4.942-1.49L7.793 24.41l1.132-3.337a8.955 8.955 0 0 1-1.72-5.272c0-4.955 4.04-8.995 8.997-8.995S25.2 10.845 25.2 15.8c0 4.958-4.04 8.998-8.998 8.998zm0-19.798c-5.96 0-10.8 4.842-10.8 10.8 0 1.964.53 3.898 1.546 5.574L5 27.176l5.974-1.92a10.807 10.807 0 0 0 16.03-9.455c0-5.958-4.842-10.8-10.802-10.8z"
					fill-rule="evenodd"></path></svg
			></a
		>
	</Container>
</Layout>
