---
---

<section class="relative mt-10 bg-foreground text-fiorenza body-font">
	<div class="container flex flex-wrap px-5 py-10 mx-auto sm:flex-nowrap">
		<div
			class="relative flex items-end justify-start p-10 overflow-hidden bg-gray-300 rounded-lg lg:w-2/3 md:w-1/2 sm:mr-10">
			<iframe
				class="absolute inset-0"
				style="filter: grayscale(1) contrast(1.2) opacity(0.4);"
				title="map"
				marginheight="0"
				marginwidth="0"
				scrolling="no"
				src="https://maps.google.com/maps?width=100%&height=600&hl=en&q=fiorenzaapartamentos+(fiorenza%20apartamentos)&ie=UTF8&t=&z=14&iwloc=B&output=embed"
				width="100%"
				height="100%"
				frameborder="0"></iframe>
			<div
				class="relative flex flex-wrap py-6 rounded shadow-md bg-fiorenza-50">
				<div class="px-6 lg:w-1/2">
					<h2
						class="text-base font-semibold tracking-widest text-gray-900 title-font">
						¡Encuéntranos!
					</h2>
					<p class="mt-1 text-gray-600">
						Sala de negocios <br />Calle 50 A #86 -615 barrio Calasanz Sector
						Primavera. Medellín, Colombia
					</p>
				</div>
				<div class="px-6 mt-4 lg:w-1/2 lg:mt-0">
					<h2
						class="text-base font-semibold tracking-widest text-gray-900 title-font">
						EMAIL
					</h2>
					<a
						class="text-sm leading-relaxed text-neutral-500 hover:underline"
						href="mailto:saladeventas@fiorenzaapartamentos.com"
						>saladeventas@fiorenzaapartamentos.com</a
					>
					<h2
						class="mt-4 text-base font-semibold tracking-widest text-gray-900 title-font">
						Teléfono
					</h2>
					<p class="leading-relaxed text-gray-600">+57 311 643 1669</p>
				</div>
			</div>
		</div>
		<div
			class="flex flex-col w-full mt-8 lg:w-1/3 md:w-1/2 md:ml-auto md:py-8 md:mt-0">
			<div class="container px-5 py-10 mx-auto">
				<div>
					<div class="flex items-center h-full text-center text-7xl">
						<a
							href="https://wa.me/573046329578?text=Me%20gustaría%20saber%20más%20informacion%20del%20proyecto">
							<h3>Escríbenos</h3>
						</a>
					</div>
				</div>
				<div class="flex flex-wrap -mx-2 sm:mb-2">
					<div class="w-full p-2">
						<div class="flex flex-row items-center h-full text-4xl rounded">
							<a
								title="Escríbenos"
								class="inline-flex w-full"
								href="https://wa.me/573046329578?text=Hola!!!%20Me%20interesa%20el%20proyecto%20"
								target="_blank">
								<svg
									fill="currentColor"
									stroke="currentColor"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="0"
									class="flex-shrink-0 w-6 h-6 mt-2 mr-2 text-fiorenza-50"
									viewBox="0 0 24 24">
									<path
										d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946.003-6.556 5.338-11.891 11.893-11.891 3.181.001 6.167 1.24 8.413 3.488 2.245 2.248 3.481 5.236 3.48 8.414-.003 6.557-5.338 11.892-11.893 11.892-1.99-.001-3.951-.5-5.688-1.448l-6.305 1.654zm6.597-3.807c1.676.995 3.276 1.591 5.392 1.592 5.448 0 9.886-4.434 9.889-9.885.002-5.462-4.415-9.89-9.881-9.892-5.452 0-9.887 4.434-9.889 9.884-.001 2.225.651 3.891 1.746 5.634l-.999 3.648 3.742-.981zm11.387-5.464c-.074-.124-.272-.198-.57-.347-.297-.149-1.758-.868-2.031-.967-.272-.099-.47-.149-.669.149-.198.297-.768.967-.941 1.165-.173.198-.347.223-.644.074-.297-.149-1.255-.462-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.297-.347.446-.521.151-.172.2-.296.3-.495.099-.198.05-.372-.025-.521-.075-.148-.669-1.611-.916-2.206-.242-.579-.487-.501-.669-.51l-.57-.01c-.198 0-.52.074-.792.372s-1.04 1.016-1.04 2.479 1.065 2.876 1.213 3.074c.149.198 2.095 3.2 5.076 4.487.709.306 1.263.489 1.694.626.712.226 1.36.194 1.872.118.571-.085 1.758-.719 2.006-1.413.248-.695.248-1.29.173-1.414z"
									></path>
								</svg>
								<span class="title-font">304 632 9578</span>
							</a>
						</div>
					</div>
					<div class="w-full p-2">
						<div class="flex items-center h-full text-4xl rounded">
							<a
								title="Escríbenos"
								class="inline-flex w-full"
								href="https://wa.me/573116431669?text=Hola!!!%20Me%20interesa%20el%20proyecto%20"
								target="_blank">
								<svg
									fill="currentColor"
									stroke="currentColor"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="0"
									class="flex-shrink-0 w-6 h-6 mt-2 mr-2 text-fiorenza-50"
									viewBox="0 0 24 24">
									<path
										d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946.003-6.556 5.338-11.891 11.893-11.891 3.181.001 6.167 1.24 8.413 3.488 2.245 2.248 3.481 5.236 3.48 8.414-.003 6.557-5.338 11.892-11.893 11.892-1.99-.001-3.951-.5-5.688-1.448l-6.305 1.654zm6.597-3.807c1.676.995 3.276 1.591 5.392 1.592 5.448 0 9.886-4.434 9.889-9.885.002-5.462-4.415-9.89-9.881-9.892-5.452 0-9.887 4.434-9.889 9.884-.001 2.225.651 3.891 1.746 5.634l-.999 3.648 3.742-.981zm11.387-5.464c-.074-.124-.272-.198-.57-.347-.297-.149-1.758-.868-2.031-.967-.272-.099-.47-.149-.669.149-.198.297-.768.967-.941 1.165-.173.198-.347.223-.644.074-.297-.149-1.255-.462-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.297-.347.446-.521.151-.172.2-.296.3-.495.099-.198.05-.372-.025-.521-.075-.148-.669-1.611-.916-2.206-.242-.579-.487-.501-.669-.51l-.57-.01c-.198 0-.52.074-.792.372s-1.04 1.016-1.04 2.479 1.065 2.876 1.213 3.074c.149.198 2.095 3.2 5.076 4.487.709.306 1.263.489 1.694.626.712.226 1.36.194 1.872.118.571-.085 1.758-.719 2.006-1.413.248-.695.248-1.29.173-1.414z"
									></path>
								</svg>
								<span class="title-font">311 643 1669</span></a
							>
						</div>
					</div>
					<div class="w-full p-2">
						<div class="flex items-center h-full rounded">
							<svg
								fill="currentColor"
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="0"
								class="flex-shrink-0 w-6 h-6 mr-2 text-fiorenza-50"
								viewBox="0 0 24 24">
								<path
									d="M12.042 23.648c-7.813 0-12.042-4.876-12.042-11.171 0-6.727 4.762-12.125 13.276-12.125 6.214 0 10.724 4.038 10.724 9.601 0 8.712-10.33 11.012-9.812 6.042-.71 1.108-1.854 2.354-4.053 2.354-2.516 0-4.08-1.842-4.08-4.807 0-4.444 2.921-8.199 6.379-8.199 1.659 0 2.8.876 3.277 2.221l.464-1.632h2.338c-.244.832-2.321 8.527-2.321 8.527-.648 2.666 1.35 2.713 3.122 1.297 3.329-2.58 3.501-9.327-.998-12.141-4.821-2.891-15.795-1.102-15.795 8.693 0 5.611 3.95 9.381 9.829 9.381 3.436 0 5.542-.93 7.295-1.948l1.177 1.698c-1.711.966-4.461 2.209-8.78 2.209zm-2.344-14.305c-.715 1.34-1.177 3.076-1.177 4.424 0 3.61 3.522 3.633 5.252.239.712-1.394 1.171-3.171 1.171-4.529 0-2.917-3.495-3.434-5.246-.134z"
								></path>
							</svg>
							<span class="font-medium title-font"
								><a
									class="text-left text-fiorenza hover:text-fiorenza-50 hover:underline"
									href="mailto:saladeventas@fiorenzaapartamentos.com">
									saladeventas@fiorenzaapartamentos.com</a
								></span
							>
						</div>
					</div>
					<div class="w-full p-2">
						<div class="flex items-center h-full rounded">
							<svg
								fill="currentColor"
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="0"
								class="flex-shrink-0 w-6 h-6 mr-2 text-fiorenza-50"
								viewBox="0 0 24 24">
								<path
									d="M6 7v-7h13v10h5v14h-23v-17h5zm0 16v-4h-1v4h1zm8-4h-3v4h3v-4zm6 0h-1v4h1v-4zm2-7h-3v6h2v4h1v-10zm-5-10h-9v20h1v-5h7v5h1v-20zm-13 20v-4h2v-9h-3v13h1zm17-6h-1v-2h1v2zm-17-2h1v2h-1v-2zm8 1h-2v-2h2v2zm3 0h-2v-2h2v2zm-10-4v2h-1v-2h1zm7 1h-2v-2h2v2zm3 0h-2v-2h2v2zm-3-3h-2v-2h2v2zm3 0h-2v-2h2v2zm-3-3h-2v-2h2v2zm3 0h-2v-2h2v2z"
								></path>
							</svg>
							<span class="font-medium title-font"
								>Calle50A #86-615, Medellín - Colombia</span
							>
						</div>
					</div>
					<div class="w-full p-2">
						<div class="flex items-center h-full">
							<a
								class="mx-auto"
								href="https://www.waze.com/ul?ll=6.26902160%2C-75.60660320&navigate=yes">
								<svg
									viewBox="0 0 200 200"
									fill="currentColor"
									stroke="currentColor"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="0"
									class="flex-shrink-0 w-48 h-48 mr-0 text-black"
									viewBox="0 0 128 128">
									<g>
										<path
											fill="#000000"
											d="M99.513,76.832c0,4.719-3.825,8.545-8.544,8.545c-4.718,0-8.544-3.826-8.544-8.545
		c0-4.719,3.826-8.543,8.544-8.543C95.688,68.289,99.513,72.112,99.513,76.832"
										></path>
										<path
											fill="#000000"
											d="M139.43,76.832c0,4.719-3.826,8.545-8.545,8.545c-4.718,0-8.544-3.826-8.544-8.545
		c0-4.719,3.826-8.543,8.544-8.543C135.604,68.289,139.43,72.112,139.43,76.832"
										></path>
										<path
											fill="#000000"
											d="M110.621,122.646c-14.477,0-27.519-9.492-29.911-21.917c-0.464-2.412,1.116-4.745,3.528-5.209
		c2.413-0.465,4.745,1.116,5.209,3.528c1.406,7.304,10.152,14.996,21.81,14.691c12.144-0.318,20.165-7.58,21.813-14.588
		c0.563-2.391,2.961-3.872,5.35-3.312c2.393,0.563,3.875,2.958,3.312,5.349c-1.346,5.721-5.03,11.021-10.375,14.926
		c-5.567,4.07-12.438,6.324-19.866,6.52C111.201,122.643,110.91,122.646,110.621,122.646"
										></path>
										<path
											fill="#000000"
											d="M183.97,81.47c-1.644-9.71-5.5-18.811-11.464-27.051c-6.736-9.307-15.951-17.078-26.648-22.472
		c-10.812-5.452-22.88-8.335-34.9-8.335c-3.391,0-6.809,0.23-10.16,0.682c-14.034,1.896-27.833,7.734-38.856,16.439
		c-12.42,9.808-20.435,22.418-23.177,36.469C37.948,81.379,37.6,86,37.263,90.468c-0.528,6.994-1.074,14.226-3.298,18.952
		c-1.52,3.23-3.788,5.381-9.919,5.381c-3.374,0-6.457,1.908-7.963,4.928c-1.505,3.02-1.173,6.631,0.857,9.324
		c9.237,12.254,21.291,19.676,33.982,24.148c-0.578,1.746-0.903,3.605-0.903,5.545c0,9.744,7.899,17.643,17.643,17.643
		c9.503,0,17.229-7.518,17.606-16.928c4.137,0.225,23.836,0.279,26.033,0.217c0.487,9.309,8.167,16.711,17.596,16.711
		c9.743,0,17.642-7.898,17.642-17.643c0-2.221-0.428-4.338-1.176-6.295c6.918-3.365,13.448-7.906,19.146-13.375
		c7.946-7.625,13.778-16.621,16.868-26.016C184.854,102.486,185.728,91.857,183.97,81.47 M67.662,164.568
		c-3.215,0-5.822-2.605-5.822-5.822c0-3.215,2.607-5.822,5.822-5.822c3.216,0,5.822,2.607,5.822,5.822
		C73.484,161.963,70.878,164.568,67.662,164.568 M128.897,164.568c-3.216,0-5.823-2.605-5.823-5.822
		c0-3.215,2.607-5.822,5.823-5.822s5.822,2.607,5.822,5.822C134.72,161.963,132.113,164.568,128.897,164.568 M172.925,110.281
		c-5.095,15.49-18.524,28.281-32.835,34.83c-3.047-2.504-6.943-4.006-11.192-4.006c-6.848,0-12.771,3.906-15.694,9.607
		c-2.976,0.123-25.135,0.047-29.984-0.285c-2.972-5.547-8.822-9.322-15.557-9.322c-4.48,0-8.559,1.682-11.669,4.434
		c-12.054-3.895-23.438-10.551-31.947-21.842c25.161,0,20.196-28.118,23.451-44.792c4.959-25.412,30.099-42.499,54.491-45.794
		c3-0.405,6-0.602,8.969-0.602C151.047,32.51,186.732,68.302,172.925,110.281"
										></path>
									</g>
								</svg></a
							>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<footer class="bg-foreground text-fiorenza body-font">
	<div
		class="container flex flex-col items-center px-5 py-8 mx-auto sm:flex-row">
		<a
			class="flex items-center justify-center font-medium title-font md:justify-start">
			<img
				src="/assets/logotipo.webp"
				alt="Fiorenza Apartamentos"
				title="Fiorenza Apartamentos | Calasanz Sector Primavera Medellín"
				class="w-full h-10"
			/>
		</a>
		<p
			class="mt-4 text-sm sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0">
			© 2023 Fiorenza Apartamentos | Calasanz Sector Primavera "Medellín -
			Colombia"
		</p>
		<span
			class="inline-flex justify-center mt-4 sm:ml-auto sm:mt-0 sm:justify-start">
			<a class="" href="https://www.facebook.com/fiorenzaapartamentos/">
				<svg
					fill="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					class="w-5 h-5"
					viewBox="0 0 24 24">
					<path
						d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
					></path>
				</svg>
			</a>
			<a
				class="ml-3"
				href="https://www.google.com/search?q=fiorenzaapartamentos">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="16"
					height="16"
					fill="currentColor"
					class="w-5 h-5"
					viewBox="0 0 16 16">
					<path
						d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"
					></path>
				</svg>
			</a>
			<a class="ml-3" href="https://www.instagram.com/fiorenzaaptos/">
				<svg
					fill="none"
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					class="w-5 h-5"
					viewBox="0 0 24 24">
					<rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
					<path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"
					></path>
				</svg>
			</a>
		</span>
	</div>
</footer>
