---
import Nav from "./nav.astro";
---

<section
	class="bg-[url('/assets/img/fiorenzafachada.webp')] bg-no-repeat bg-cover bg-center bg-fixed">
	<div
		class="top-0 bottom-0 left-0 right-0 w-full h-full overflow-hidden bg-fixed backdrop-brightness-50 text-fiorenza-50"
		style="background-color: rgba(0,0,0,0.2);">
		<Nav />
		<div
			class="container flex flex-wrap items-center px-10 pb-12 mx-auto sm:px-5:pb-5">
			<div class="lg:w-3/5 lg:pr-0 lg:pl-24 md:w-1/2 md:pr-16 sm:p-0">
				<h1
					id="BonoDescuento"
					class="text-3xl font-medium title-font lg:text-5xl">
					PROYECTO DE APARTAMENTOS CON BALCÓN EN CALASANZ MEDELLÍN.
				</h1>
				<h2
					class="mb-4 font-medium tracking-widest text-center lg:text-2xl md:text-xl title-font sm:text-left">
					¡Lanzamiento Ultima Etapa!
				</h2>
				<nav class="flex flex-col sm:items-start text-left -mb-1 space-y-2.5">
					<div>
						<svg
							fill="none"
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="3"
							class="inline-flex items-center justify-center flex-shrink-0 w-6 h-6 mr-2 text-white-50"
							viewBox="0 0 24 24">
							<path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
							<path d="M22 4L12 14.01l-3-3"></path>
						</svg>
						PERSONALIZALO como lo soñastes.
					</div>
					<div>
						<svg
							fill="none"
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="3"
							class="inline-flex items-center justify-center flex-shrink-0 w-6 h-6 mr-2 text-white-50"
							viewBox="0 0 24 24">
							<path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
							<path d="M22 4L12 14.01l-3-3"></path>
						</svg>
						Apartamentos desde 41.13 m² hasta 58 m² (área construida).
					</div>
					<div>
						<svg
							fill="none"
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="3"
							class="inline-flex items-center justify-center flex-shrink-0 w-6 h-6 mr-2 text-white-50"
							viewBox="0 0 24 24">
							<path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
							<path d="M22 4L12 14.01l-3-3"></path>
						</svg> Apartamentos de 2 y 3 habitaciones y zona de ropas independiente.
					</div>
					<div>
						<svg
							fill="none"
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="3"
							class="inline-flex items-center justify-center flex-shrink-0 w-6 h-6 mr-2 text-white-50"
							viewBox="0 0 24 24">
							<path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
							<path d="M22 4L12 14.01l-3-3"></path>
						</svg>Parqueadero cubierto y cuarto útil.
					</div>
					<div>
						<svg
							fill="none"
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="3"
							class="inline-flex items-center justify-center flex-shrink-0 w-6 h-6 mr-2 text-white-50"
							viewBox="0 0 24 24">
							<path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
							<path d="M22 4L12 14.01l-3-3"></path>
						</svg>Torre 1 y 2 vendidas.
					</div>
					<div>
						<svg
							fill="none"
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="3"
							class="inline-flex items-center justify-center flex-shrink-0 w-6 h-6 mr-2 text-white-50"
							viewBox="0 0 24 24">
							<path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
							<path d="M22 4L12 14.01l-3-3"></path>
						</svg>Torre 2 entregas 2023 y Torre 3 en venta.
					</div>
					<div>
						<svg
							fill="none"
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="3"
							class="inline-flex items-center justify-center flex-shrink-0 w-6 h-6 mr-2 text-white-50"
							viewBox="0 0 24 24">
							<path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
							<path d="M22 4L12 14.01l-3-3"></path>
						</svg>Torre 3 entregas 2024.
					</div>
					<div>
						<svg
							fill="none"
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="3"
							class="inline-flex items-center justify-center flex-shrink-0 w-6 h-6 mr-2 text-white-50-50"
							viewBox="0 0 24 24">
							<path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
							<path d="M22 4L12 14.01l-3-3"></path>
						</svg> Estaras a solo 800Mts del Mall Santana donde encontraras tiendas
						como DOLLARCITY y D1.
					</div>
				</nav>
			</div>
			<div
				class="flex flex-col w-full p-8 mt-10 rounded-lg lg:w-2/6 md:w-1/2 backdrop-brightness-50 md:ml-auto md:mt-0">
				<h2 class="mb-5 text-2xl font-bold text-center title-font">
					Apartamentos desde $351.023.636
				</h2>
				<form
					class="mb-6"
					id="form-contact"
					method="post"
					action="/assets/php/mail.php">
					<div class="relative mb-4">
						<label for="fullname" class="text-sm leading-7"
							>Nombre Completo</label
						>
						<input
							required
							type="text"
							id="fullname"
							name="fullname"
							class="w-full px-3 py-1 text-base leading-8 text-gray-700 transition-colors duration-200 ease-in-out bg-white border border-gray-300 rounded outline-none focus:border-fiorenza-500 focus:ring-2 focus:ring-fiorenza-200"
						/>
					</div>
					<div class="relative mb-4">
						<label for="email" class="text-sm leading-7">Email</label>
						<input
							required
							type="email"
							id="email"
							name="email"
							class="w-full px-3 py-1 text-base leading-8 text-gray-700 transition-colors duration-200 ease-in-out bg-white border border-gray-300 rounded outline-none focus:border-fiorenza-500 focus:ring-2 focus:ring-fiorenza-200"
						/>
					</div>
					<div class="relative mb-4">
						<label for="telefono" class="text-sm leading-7">Teléfono</label>
						<input
							required
							type="text"
							id="telefono"
							name="telefono"
							class="w-full px-3 py-1 text-base leading-8 text-gray-700 transition-colors duration-200 ease-in-out bg-white border border-gray-300 rounded outline-none focus:border-fiorenza-500 focus:ring-2 focus:ring-fiorenza-200"
						/>
					</div>
					<p class="mt-3 text-sm">Indícanos el promedio de tus ingresos.</p>
					<div class="mt-2">
						<div>
							<label class="inline-flex items-center">
								<input
									type="radio"
									class="form-radio accent-fiorenza-600 hover:accent-fiorenza-800"
									name="ingresos"
									value="2 a 4 SMMLV"
								/>
								<span class="ml-2">2 a 4 SMMLV</span>
							</label>
						</div>
						<div>
							<label class="inline-flex items-center">
								<input
									type="radio"
									class="form-radio accent-fiorenza-600 hover:accent-fiorenza-800"
									name="ingresos"
									value="4 a 5 SMMLV"
								/>
								<span class="ml-2">4 a 5 SMMLV</span>
							</label>
						</div>
						<div>
							<label class="inline-flex items-center">
								<input
									type="radio"
									class="form-radio accent-fiorenza-600 hover:accent-fiorenza-800"
									name="ingresos"
									value="+5 SMMLV"
								/>
								<span class="ml-2">+5 SMMLV</span>
							</label>
						</div>
					</div>
					<div>
						<p class="font-extrabold text-center text-fiorenza-50 text">
							<div class="form-check">
								<input
									class="float-left w-4 h-4 my-1 align-top transition duration-200 bg-center bg-no-repeat bg-contain border rounded-sm appearance-none cursor-pointer form-check-input border-fiorenza-600 bg-fiorenza-50 checked:bg-fiorenza-600 checked:border-fiorenza-600 focus:outline-none"
									type="checkbox"
									value="si"
									id="politicadatos"
									name="politicadatos"
									checked
								/>
								<a
									href="http://www.vivare.co/SI-PO-002-Politica-de-tratamiento-de-datos-personales.pdf"
									rel="null"
									type="url"
									id="link-3fpbhgvufee"
									class="ml-2 url-link"
									target="_blank">Política de Tratamiento de Datos</a
								>
							</div>
						</p>
					</div>
					<input
						type="submit"
						class="px-4 py-2 mt-2 text-lg transition duration-150 border-0 rounded cursor-pointer bg-foreground focus:outline-none hover:bg-fiorenza-800 hover:shadow-lg"
						value="QUIERO MI BONO DE DESCUENTO"
					/>
				</form>
				<div id="form-status"></div>
			</div>
		</div>
	</div>
</section>

<section class="text-fiorenza-50 bg-foreground">
	<div
		class="container flex flex-col items-center px-5 py-10 mx-auto md:flex-row">
		<div
			class="flex flex-col w-full pr-0 mb-6 text-center md:pr-10 md:mb-0 md:w-auto md:text-left">
			<h2
				class="mb-1 text-xs font-medium tracking-widest text-fiorenza title-font">
				Fiorenza Apartamentos | Calasanz Sector Primavera "Medellín"
			</h2>
			<h1 class="text-2xl font-medium md:text-3xl title-font">
				Detalla todo lo que el proyecto tiene para tu hogar
			</h1>
		</div>
		<div
			class="flex items-center flex-shrink-0 mx-auto space-x-4 text-gray-600 md:ml-auto md:mr-0">
			<a
				href="https://fiorenzaapartamentos.com/vista/"
				target="_blank"
				class="inline-flex items-center px-5 py-3 rounded-lg bg-fiorenza-50 hover:bg-fiorenza focus:outline-none text-foreground">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
					fill="currentColor"
					class="w-6 h-6">
					<path
						fill-rule="evenodd"
						d="M7.5 3.75A1.5 1.5 0 006 5.25v13.5a1.5 1.5 0 001.5 1.5h6a1.5 1.5 0 001.5-1.5V15a.75.75 0 011.5 0v3.75a3 3 0 01-3 3h-6a3 3 0 01-3-3V5.25a3 3 0 013-3h6a3 3 0 013 3V9A.75.75 0 0115 9V5.25a1.5 1.5 0 00-1.5-1.5h-6zm5.03 4.72a.75.75 0 010 1.06l-1.72 1.72h10.94a.75.75 0 010 1.5H10.81l1.72 1.72a.75.75 0 11-1.06 1.06l-3-3a.75.75 0 010-1.06l3-3a.75.75 0 011.06 0z"
						clip-rule="evenodd"></path>
				</svg>

				<span class="flex flex-col items-start ml-4 leading-none">
					<span class="mb-1 text-xs">Conoce la vista</span>
					<span class="font-medium title-font">360° del proyecto</span>
				</span>
			</a>
			<a
				href="/brochure-digital-fiorenza.pdf"
				target="_blank"
				class="inline-flex items-center px-5 py-3 rounded-lg bg-fiorenza-50 hover:bg-fiorenza focus:outline-none">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
					fill="currentColor"
					class="w-6 h-6">
					<path
						d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0016.5 9h-1.875a1.875 1.875 0 01-1.875-1.875V5.25A3.75 3.75 0 009 1.5H5.625z"
					></path>
					<path
						d="M12.971 1.816A5.23 5.23 0 0114.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 013.434 1.279 9.768 9.768 0 00-6.963-6.963z"
					></path>
				</svg>

				<span class="flex flex-col items-start ml-4 leading-none">
					<span class="mb-1 text-xs">Descarga</span>
					<span class="font-medium title-font">El Brochure</span>
				</span>
			</a>
		</div>
	</div>
</section>
